<%= provide(:title, @tracker.name) %>
<div class = "row">
	<aside class = "col-md-4">
		<section class = "tracker_info">
			<h1><%= @tracker.name %></h1>
		</section>
	</aside>
</div>



<%= @tracker.keywords %>